<div class="contact-manager">
  Contact Manager
</div>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav opened mode="side" position="start">
    <ul>
      <li class="list-item" [ngClass]="{ 'active' : isActive }" (click)="isActive = true; isActive1 = false"><a routerLink="/contacts"><img src="/assets/contacts.png" alt="Contacts"></a></li>
      <li class="list-item" [ngClass]="{ 'active' : isActive1 }" (click)="isActive = false; isActive1 = true"><a routerLink="/about"><img src="/assets/info.png" alt="About"></a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

 
</mat-sidenav-container>

