
<mat-drawer-container class="drawer-container">

    <mat-drawer class="mat-drawer" mode="side" opened>
      
        <div class="search-wrapper">
            <input type="text" class="search-box both-seach-wrapper-items" placeholder="Search" (keyup)="sendData($event)">
            <button mat-flat-button class="button both-seach-wrapper-items" (click)="addContact()">Add</button>
        </div>
        
        <h3 id="contact-heading">Contacts</h3>

        <mat-list class="search-results">
            <div *ngIf="contList.length < 1 && searchedContacts"><mat-list-item>Sorry, no matches found.</mat-list-item></div>
            <div *ngFor="let contact of contList">
                <mat-list-item class='list' [ngClass]="{ 'active' : contact.active }" (click)="showDetails(contact)">
                    <mat-icon matListIcon><span id="initials">{{contact.initials}}</span></mat-icon>
                    <h3 matLine>{{contact.firstName}} {{contact.lastName}}</h3>
                    <p matLine>{{contact.cellNumber}}</p>
                </mat-list-item>
            </div>
        </mat-list>
        
    </mat-drawer>

    <mat-drawer-content class="mat-drawer-content">
        <div class="contact-details">
            <h2>{{currentCont.firstName}} {{currentCont.lastName}}</h2>
            <table>
                <tr>
                    <td class="table-headings col-1">Cellphone:</td>
                    <td class="table-headings">Address:</td>
                </tr>
                <tr>
                    <td class="col-1">{{currentCont.cellNumber}}</td>
                    <td>{{currentCont.address}}</td>
                </tr>
    
                <tr>
                    <td class="table-headings col-1">Email:</td>
                    <td class="table-headings">Agify:</td>
                </tr>
                <tr>
                    <td class="col-1">{{currentCont.email}}</td>
                    <td>{{currentCont.agify}}</td>
                </tr>
            </table>
        </div>

        <div class="cont-bio">
            <h2>Contact Bio</h2>
            <p>{{currentCont.bio}}</p>
        </div>
    </mat-drawer-content>

</mat-drawer-container>
  